.home {
  min-width: 1200px;
  width: 100vw;
  min-height: 800px;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  header {
    flex: 0 0 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: #80ffa1;
  }

  .content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    .tool-box {
      box-sizing: border-box;
      flex: 0 0 160px;
      height: 100%;
      background: #fcfcfc;
      border-right: solid 1px #eee;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-top: 10px;

      ul {
        padding-left: 0;

        .node {
          background: #fff;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
        }

        .node-start {
          width: 80px;
          height: 40px;
          box-sizing: border-box;
          border: solid 1px red;
        }

        .node-common {
          width: 80px;
          height: 80px;
          box-sizing: border-box;
          border-radius: 40px;
          border: solid 1px blue;
        }

        .node-juge {
          width: 80px;
          height: 80px;
          border: solid 1px yellow;
          /* Rotate */
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          /* Rotate Origin */
          -webkit-transform-origin: 0 100%;
          -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
          -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
          position: relative;
          top: 30px;
          left: 40px;
          span {
            transform: rotate(45deg);
          }
        }
      }
    }

    .editor-wrapper {
      flex: 1 0 auto;
      .canvas-wrapper {
        width: 100%;
        height: 100%;
      }
    }

    .info-wrapper {
      box-sizing: border-box;
      flex: 0 0 220px;
      height: 100%;
      background: #fcfcfc;
      border-left: solid 1px #eee;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      padding-top: 10px;

      .minimap-container {
        width: 200px;
        height: 160px;
      }

      .info-editor {
        width: 196px;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
        border: solid 1px #ccc;
        border-radius: 5px;

        h4 {
          text-align: center;
        }

        font-size: 12px;

        .row {
          display: flex;
          flex-flow: column nowrap;

          label {
            padding-bottom: 5px;
          }
        }

        .btn-wrapper {
          padding-top: 15px;
          text-align: center;
        }
      }
    }
  }
}
